<!DOCTYPE html >

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>4kash.co | Shorten that URL</title>
  </head>
<style>
    .errorlist li {
        list-style: none;
        display: inline-block;
        color:red;
    }

</style>
  <body>


    <div class="container-fluid bg-light ">
        <div class="navbar p-3 mb-2  col-lg-12  center shadow bg-white ">
            <ul class=" col-lg-8 offset-lg-2 nav">
              <li class="nav-item ">
                <a class="nav-link active text-success" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-success" href="#about">About</a>
              </li>
            </ul>
        </div>

        <div class="row ">
            <div class="col-lg-12 p-4 mb-5 text-center text-white bg-dark">
                <h1 class="text-center mt-5 pt-3 text-white">4kash.co</h1>
                <p class="text-justify text-center">
                  <h3 class="header">Welcome to the world of Short URL's</h3> <br> Shorten That URL and Control Your Growth For Free  . For more info goto <a href="#about" class="btn-link text-decoration-none">About</a>
                </p>
               <!-- <input type="text" class="form-control text-white col-lg-6  col-md-6 col-sm-6 col-xs-4 mb-5" style="margin :0 auto;" placeholder="Your URL here...">
               -->
                {% block content %}
                {% endblock content %}

               </div>
            <div class="bg-light container   mx-auto px-auto  pt-3 col-md-8   ">
                <h2 class="col-lg-10 col-md-10 header">An Example</h2>
                <p class="col-lg-10 col-md-10 ">Convert this   : <code class="text-info text-center text-justify  btn-link text-justify text-decoration-none ">  https://www.google.com/url?q=https://www.google.co.in/search%3Fq%3Dfood%2Bshelters%2Bnear%2Bme&source=hpp&id=19017353&ct=3&usg=AFQjCNHlNUQbnLvJ05MkUWVCYtLXwyDSLg</code> <br> to this Short URL: <br>
                    <code class=" btn-link text-decoration-none text-info">http://4kash:8000/nwjjns</code>
                </p>
                <h2 class="col-lg-10 col-md-10 header" id="about">Why you should use a Url Shortening Service</h2>

                <p class="col-lg-10 col-md-10 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, aperiam, tempora. Odio perferendis quae reiciendis dolores. Explicabo aspernatur, nesciunt, non soluta illo enim, dolore molestias nulla nostrum veritatis voluptate recusandae fuga laborum nihil earum impedit perspiciatis pariatur. Architecto ab culpa exercitationem autem eius dignissimos nesciunt at iusto odit! Unde animi, tempore, eveniet, placeat incidunt magnam accusamus quis et corporis nobis deserunt? Repudiandae, quaerat dolores deserunt sapiente quia totam cumque ad illum architecto optio corrupti vitae asperiores culpa aspernatur nihil ipsum magnam et adipisci officia fugit explicabo minus hic praesentium maiores. Id voluptatum cum pariatur quidem quibusdam cumque, explicabo culpa quam.</p>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</div>
</html>
